header .explore-below, #search-panel button, #experience .container .content button {
  font-family: "Fjalla One", sans-serif;
  font-size: 16px;
  color: white;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 0;
  background-color: #dc7725;
  padding: 20px 30px;
  transition: background-color .3s;
  cursor: pointer;
}
header .explore-below:after, #search-panel button:after, #experience .container .content button:after {
  transition: border-top-color .3s;
}
header .explore-below:hover, #search-panel button:hover, #experience .container .content button:hover {
  background-color: #e7a067;
}
header .explore-below:hover:after, #search-panel button:hover:after, #experience .container .content button:hover:after {
  border-top-color: #e7a067;
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  background-color: #e6e6e0;
}

html {
  font-size: 120%;
}

header {
  background-image: url("../img/hero-slide1.jpg");
  background-size: auto 100%;
  background-position: center;
  color: #fff;
}
@media screen and (min-width: 960px) {
  header {
    background-size: cover;
  }
}
@media screen and (min-width: 960px) {
  header nav {
    margin-bottom: -200px;
  }
}
header nav .logo {
  background-image: url("../img/logo.svg");
  background-size: 40px 50px;
  background-position: center;
  height: 50px;
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 50px;
}
header nav .logo:hover {
  color: #dc7725;
  background-image: url("../img/logo-orange.svg");
}
header nav ul {
  display: none;
}
@media screen and (min-width: 960px) {
  header nav ul {
    display: block;
  }
}
header nav ul li a {
  font-family: "Fjalla One", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}
header .hero h2 {
  font-size: 14px;
  font-family: "Fjalla One", sans-serif;
  letter-spacing: 5px;
}
@media screen and (min-width: 768px) {
  header .hero h2 {
    font-size: 20px;
  }
}
header .hero h1 {
  font-size: 45px;
  letter-spacing: 3px;
}
@media screen and (min-width: 768px) {
  header .hero h1 {
    font-size: 75px;
  }
}
@media screen and (min-width: 960px) {
  header .hero h1 {
    font-size: 110px;
  }
}
header .hero hr {
  margin-top: 20px;
  width: 200px;
  border: 2px solid white;
}
header .hero .play-button {
  height: 90px;
  width: 90px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  display: flex;
  margin: 30px 0 60px;
  transition: transform 0.3s, opacity 0.3s;
}
@media screen and (min-width: 768px) {
  header .hero .play-button {
    margin-bottom: 20px;
  }
}
header .hero .play-button img {
  margin: auto;
  height: 30px;
  width: 30px;
}
header .hero .play-button:hover {
  background-color: rgba(255, 255, 255, 0.6);
  transform: scale(1.3);
}
header .hero .play-button:hover img {
  transform: scale(1.3);
}
header .explore-below {
  display: none;
  position: relative;
}
header .explore-below:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 99%;
  transform: translateX(-50%);
  border-style: solid;
  height: 0;
  width: 0;
  border-color: #dc7725 transparent transparent;
  border-width: 10px 20px 0;
}
@media screen and (min-width: 960px) {
  header .explore-below {
    display: block;
  }
}

.hamburger-menu {
  height: 20px;
  width: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.hamburger-menu span {
  height: 2px;
  border-radius: 2.5px;
  width: 95%;
  background: #fff;
}
@media screen and (min-width: 960px) {
  .hamburger-menu {
    display: none;
  }
}

#sub-nav {
  display: none;
}
@media screen and (min-width: 960px) {
  #sub-nav {
    background-image: url("../img/bg-footercopyright.jpg");
    background-size: auto auto;
    background-position: center;
    border-top: 1px solid #272726;
    border-bottom: 1px solid #272726;
    height: 80px;
    display: block;
  }
  #sub-nav .container {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #sub-nav li {
    display: inline-block;
  }
  #sub-nav li:first-child {
    padding-right: 10px;
  }
  #sub-nav li:not(:first-child) {
    padding: 0 10px;
  }
  #sub-nav li:last-child {
    border-left: 1px solid #bdbdb7;
    margin-left: 20px;
    padding-left: 30px;
  }
  #sub-nav li:last-child a:last-child {
    color: #dc7725;
  }
  #sub-nav a {
    color: #bdbdb7;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
  }
  #sub-nav .search {
    position: relative;
  }
  #sub-nav .search a:after {
    position: absolute;
    right: -30px;
    top: 0;
    display: block;
    content: "";
    height: 20px;
    width: 20px;
    background-image: url("../img/btn-search.png");
    background-size: 20px 40px;
    background-position: center;
  }
}

.gallery-item:nth-child(1) {
  background-image: url("../img/home-raft.jpg");
  background-size: auto auto;
  background-position: center;
  background-size: cover;
}

.gallery-item:nth-child(2) {
  background-image: url("../img/home-basecamp.jpg");
  background-size: auto auto;
  background-position: center;
  background-size: cover;
}

.gallery-item:nth-child(3) {
  background-image: url("../img/home-backpacking.jpg");
  background-size: auto auto;
  background-position: center;
  background-size: cover;
}

.gallery-item:nth-child(4) {
  background-image: url("../img/home-canoe.jpg");
  background-size: auto auto;
  background-position: center;
  background-size: cover;
}

.gallery-item:nth-child(5) {
  background-image: url("../img/home-photo.jpg");
  background-size: auto auto;
  background-position: center;
  background-size: cover;
}

.gallery-item:nth-child(6) {
  background-image: url("../img/home-custom.jpg");
  background-size: auto auto;
  background-position: center;
  background-size: cover;
}

#gallery {
  background-color: #d1d1c9;
}

.gallery-item img {
  height: 50px;
  width: 50px;
  padding: 20px;
  border-radius: 50%;
  background-color: rgba(50, 50, 50, 0.8);
  transition: transform 0.3s;
}
.gallery-item img:hover {
  transform: scale(1.3);
}
.gallery-item h3 {
  color: #fff;
  font-family: "Fjalla One", sans-serif;
  text-transform: uppercase;
  text-shadow: 0 0 2px black;
}
.gallery-item h3:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 50px;
  background-color: #dc7725;
  width: 45px;
  height: 5px;
}

#search-panel {
  background-image: url("../img/bg-footercopyright.jpg");
  background-size: auto auto;
  background-position: center;
  opacity: 0;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 1%;
  width: 1%;
  visibility: hidden;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Fjalla One", sans-serif;
  transition: width .5s, height .5s, opacity .8s;
}
#search-panel h3 {
  color: #656565;
}
#search-panel h3:after {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../img/search-hint.png");
  background-size: auto auto;
  background-position: center;
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  left: 50%;
  margin-top: 30px;
  transform: translateX(-50%);
}
#search-panel input {
  opacity: 1;
  margin: 100px 0;
  font-size: 80px;
  padding: 20px;
  background: transparent;
  border-radius: 5px;
  border: 2px solid #656565;
  text-align: center;
  color: #fff;
  font-family: "Fjalla One", sans-serif;
}
#search-panel input:focus {
  outline: 0;
}
#search-panel button {
  padding-left: 100px;
  padding-right: 100px;
}

.panel-visible {
  visibility: visible !important;
  opacity: .97 !important;
  width: 100% !important;
  height: 100% !important;
}

::-webkit-input-placeholder {
  color: #fff;
  font-family: "Fjalla One", sans-serif;
}

#experience {
  border-bottom: 1px solid #272726;
}

header {
  height: 55vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
@media screen and (min-width: 960px) {
  header {
    height: 100vh;
    justify-content: space-between;
  }
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 1200px;
}
@media screen and (min-width: 960px) {
  header nav {
    margin-top: 60px;
  }
}
header nav .logo {
  display: flex;
  align-items: center;
}
header nav .logo h1 {
  margin-left: 10px;
}
header nav ul li {
  display: inline-block;
  margin-left: 20px;
}
header .hero {
  display: flex;
  align-items: center;
  flex-direction: column;
}
header button {
  margin-bottom: 50px;
}

#gallery {
  width: 100%;
}
#gallery::after {
  clear: both;
  content: "";
  display: block;
}
#gallery .gallery-item {
  width: calc(100% - 40px);
  float: left;
  margin-left: 20px;
  height: 30vw;
  min-height: 220px;
  background-color: pink;
  margin-top: 3vw;
  background-repeat: no-repeat;
  display: flex;
  position: relative;
}
#gallery .gallery-item img {
  margin: auto;
  order: 1;
}
#gallery .gallery-item h3 {
  position: absolute;
  bottom: 40px;
  left: 40px;
}
@media screen and (min-width: 768px) {
  #gallery .gallery-item {
    height: 420px;
    width: calc(50%);
    float: left;
    margin-left: 0;
    margin-top: 0;
  }
  #gallery .gallery-item:first-child {
    width: 100%;
  }
  #gallery .gallery-item:last-child {
    width: 100%;
  }
}
@media screen and (min-width: 960px) {
  #gallery .gallery-item {
    width: calc(25%);
    float: left;
    margin-left: 0;
  }
  #gallery .gallery-item:first-child {
    width: 50%;
  }
  #gallery .gallery-item:last-child {
    width: 50%;
  }
}

#experience {
  background-color: #e6e6e0;
}
#experience .container {
  display: flex;
  width: 80%;
  max-height: 800px;
  margin: 0 auto;
  align-items: flex-start;
  text-align: center;
}
@media screen and (min-width: 960px) {
  #experience .container {
    text-align: left;
  }
}
#experience .container .content {
  min-width: 40%;
  min-height: 800px;
  margin-right: 20px;
  color: #5b5b59;
}
#experience .container .content h3 {
  margin-top: 100px;
  margin-bottom: 10px;
  font-family: "Fjalla One", sans-serif;
  color: #85857b;
}
#experience .container .content h2 {
  font-size: 50px;
  margin-bottom: 35px;
  color: #343433;
}
#experience .container .content hr {
  width: 100px;
  border: 2.5px solid #cececb;
  margin: 0 auto 35px;
}
@media screen and (min-width: 960px) {
  #experience .container .content hr {
    margin-left: 0;
    margin-right: auto;
  }
}
#experience .container .content p {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 35px;
}
#experience .container .content a.inline {
  color: #dc7725;
  text-decoration: none;
  transition: color .1s;
}
#experience .container .content a.inline:hover {
  color: #e7a067;
}
#experience .container .content button {
  margin-right: 20px;
}
#experience .container .content .call-out {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 22px;
  color: #343433;
  border-bottom: 1px dashed #85857b;
}
#experience .container .content .call-out:hover {
  color: #dc7725;
}
#experience .container .img {
  display: none;
}
@media screen and (min-width: 960px) {
  #experience .container .img {
    display: block;
    max-height: 1000px;
  }
  #experience .container .img img {
    float: left;
  }
}

/*# sourceMappingURL=styles.css.map */
