//colors
$orange: #dc7725;
$dark-grey: #323232;
$grey-accent: #272726;

//second nav text color #bdbdb7
$nav-text: #bdbdb7;

//second section copy text color #343433 (highlight at top #85857b)
$experience-text-color: #343433;
$experience-text-accent-color: #85857b;

// light grey arrow button background for tourguides #c7c7c7
$arrow-background: #c7c7c7;

//font stacks
$default-headings: 'Fjalla One', sans-serif;
$default-font: 'Open Sans', sans-serif;

$tablet-bp: 'screen and (min-width: 768px)';
$desktop-bp: 'screen and (min-width: 960px)';
