header {
  @include size(100%, 55vh);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  @include desktop-bp {
    height: 100vh;
    justify-content: space-between;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1200px;

    @include desktop-bp {
      margin-top: 60px;
    }
    .logo {
      display: flex;
      align-items: center;

      h1 {
        margin-left: 10px;
      }
    }

    ul {
      li {
        display: inline-block;
        margin-left: 20px;
      }
    }
  }

  .hero {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  button {
    margin-bottom: 50px;
  }
}
